* {
    main-bg:            #0F0A1EB3;
    main-fg:            #D9CCFFE6;
    main-br:            #886187E6;
    main-ex:            #24365DE6;
    select-bg:          #AAC4F080;
    select-fg:          #293852E6;
}
