* {
    main-bg:            #3B3942B3;
    main-fg:            #D7CCFFE6;
    main-br:            #C2888EE6;
    main-ex:            #73C2D2E6;
    select-bg:          #AAB2F080;
    select-fg:          #292E52E6;
}
